# Test Report

**Mentors**: This report is generated automatically by the test runner. For more information on how to review homework assignments, please refer to the [Review Guide](https://github.com/HackYourFuture/mentors/blob/main/assignment-support/review-guide.md).

## 1-JavaScript - Week2 - ex2-dogYears

### Test date: 3-9-2024

```text

*** Spell Checker Report ***

```

## 1-JavaScript - Week2 - ex3-tellFortune

### Test date: 3-9-2024

```text

*** Spell Checker Report ***

```

## 1-JavaScript - Week2 - ex4-shoppingCart

### Test date: 3-9-2024

```text

*** Spell Checker Report ***

```

## 1-JavaScript - Week2 - ex5-shoppingCartPure

### Test date: 3-9-2024

```text

*** Spell Checker Report ***

```

## 1-JavaScript - Week2 - ex6-totalCost

### Test date: 3-9-2024

```text

*** Spell Checker Report ***

```

## 1-JavaScript - Week2 - ex7-mindPrivacy

### Test date: 3-9-2024

```text

*** Spell Checker Report ***

```
